@import "tailwindcss";



*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    width: 100dvw;
    overflow-y: auto;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}
 
:root {
    --bg: white;
    --text: black;
    --card-text: #4b5563;
}

body {
    background-color: var(--bg);
    color: var(--text);
}
  